.conatiner {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 4rem auto;
}
.title {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #0b0019;
  margin-bottom: 32px;
}
.formContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
}
.studentProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 8px;
  width: 183px;
  height: 198px;
  flex: 1;
}
.studentProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.detailsCont {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 4;
  column-gap: 20px;
}
.inputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputWithLabel > label {
  padding: 12px 0 12px 0;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 20px;
  color: #161719;
  letter-spacing: 0.04em;
  font-style: 'normal';
}
.inputWithLabel > input {
  width: 313px;
  height: 53px;
  border-radius: 12px;
  padding: 5px 15px 5px 15px;
  outline: none;
  border: none;
  border: 1px solid #b3b3b3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.secondCont {
  width: 100%;
}
.inputWithLabel1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inputWithLabel1 > input {
  width: 99%;
  height: 53px;
  border-radius: 12px;
  padding: 5px 15px 5px 15px;
  outline: none;
  border: none;
  border: 1px solid #b3b3b3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.inputWithLabel1 > label {
  padding: 12px 0 12px 0;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 20px;
  color: #161719;
  letter-spacing: 0.04em;
  font-style: 'normal';
}
.inputWithLabel1 > textarea {
  outline: none;
  border: 1px solid #b3b3b3;
  border-radius: 12px;
  resize: none;
  width: 99%;
  height: 100px;
  padding: 15px;
  font-style: 'normal';
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.opentowork {
  display: flex;
  margin-top: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
}
.openWorkTxt {
  letter-spacing: 0.04em;
}
.preffered {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
}
.prefferedkTxt > span {
  color: #b3b3b3;
}
.prefreed_checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.prefreed_checkbox input {
  accent-color: #6c56fb;
  height: 24px;
  width: 24px;
  border: 1.25px solid #6c56fb;
  outline: none;
}

/* toggle */
.slider {
  background-color: #6c56fb;
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 51px;
  height: 26px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset,
    rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset, #6c56fb 0px 0px 0px 0px inset;
}

.slider::after {
  content: '';
  display: flex;
  top: 4.3px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #e6e6e6;
  border-radius: 200px;
  position: absolute;
  transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  will-change: left;
}

.switch input[type='checkbox']:checked + .slider {
  box-shadow: 
    #6c56fb 0px 0px 0px 2px inset, #6c56fb 0px 0px 0px 24px inset;
}

.switch input[type='checkbox']:checked + .slider::after {
  left: 31.6px;
}

.switch input[type='checkbox'] {
  display: none;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
}
.btnContainer button {
  padding: 10px 35px;
  background: #6c56fb;
  border-radius: 12px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
