.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  display: flex;
  align-items: flex-start;
  margin-bottom: 82px;
  gap: 40px;
}

.imgCont {
  width: 500px;
  height: 350px;
  margin-right: 20px;
  position: relative;
  padding: 25px;
}

.imgCont::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px; /* Adjust the value as needed */
  width: 1px;
  background-color: #ccc;
}

.imgCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleCont {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.lessons {
  font-size: 16px;
  color: #000000;
  background: #e2ddfe;
  border-radius: 10px;
  padding: 12px;
}

.des {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desc p {
  margin: 5px 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.items:nth-child(even) {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.items:nth-child(even) .imgCont::after {
  height: 90%;
  top: 15%;
  left: -10px;
}
.items:nth-child(odd) .imgCont::after {
  height: 90%;
  top: 15%;
}
