.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.activeTab {
  border-bottom: 2px solid;
  color: #7000ff;
}
.Link {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* <img src="../../../Assets/Vector.jpg" alt="" /> */

/* swipper */

.mySwiper {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #ccc;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  /* left: 50%; */
  background: #080808;
  left: 600px;
  margin-left: 400px;
  offset: 0px;
  top: 100px;
  
}
